@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.issues-found-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding-top: 80px;
}

.issues-found-screen__empty {
  @include panel;

  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 0 16px 16px;
  padding: 32px;
  text-align: center;
}

.issues-found-screen__empty-title {
  color: $color-primary;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.issues-found-screen__empty-description {
  color: $color-gray-dark;
  font-size: 14px;
}
