@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.howdy {
  @include flex-center;

  width: 320px;
  height: 400px;
  background: linear-gradient(135deg, $color-light 0%, $color-neutral 100%);

  &__content {
    padding: $spacing-xl;
    text-align: center;
  }

  &__title {
    margin: 0 0 $spacing-md;
    font-size: $font-size-xl * 1.5;
    color: $color-primary;
  }

  &__subtitle {
    margin: 0 0 $spacing-sm;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    color: $color-text;
  }

  &__tagline {
    margin: 0;
    font-size: $font-size-base;
    font-style: italic;
    color: $color-text-light;
  }
}
