.app {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 550px;
  background-color: #fbfaf2;
  background-image: url('./assets/background.png');
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.app__content {
  flex: 1;
  overflow: hidden;
}
