@use '../../../styles/variables' as *;

.app {
  background-color: $color-bg-main;
  background-image: url('./assets/background.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 360px;
}

.app__content {
  flex: 1;
  overflow: hidden;
}
