@use 'base/skeleton';
@use 'base/grid';

// Popup styles
@use '../popup/layouts/AppLayout/AppLayout';
@use '../popup/layouts/AppLayout/components/Footer';
@use '../popup/components/Navigation/Navigation';
@use '../popup/components/Toggle/Toggle';
@use '../popup/screens/IssuesFoundScreen/IssuesFoundScreen';
@use '../popup/screens/HistoryScreen/HistoryScreen';
@use '../popup/screens/SettingsScreen/SettingsScreen';
