.app__footer {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding: 16px;
}

.app__footer-link {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  font-weight: 500;
  color: #2c1810;
}

.app__footer-icon {
  width: 20px;
  height: 20px;
}

.app__footer-cactus {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 360px;
  height: 100px;
}
