@use 'styles/variables' as *;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: $spacing-xl;
  text-align: center;
}

.logo {
  height: 6em;
  padding: $spacing-lg;
  transition: filter 300ms;
  will-change: filter;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: $spacing-xl;
}

.read-the-docs {
  color: $color-text-muted;
}
